div {
  width: 500px;
  margin: 10px
}

ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}

li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}

#volver{ 
    text-decoration: none;
    font-size: 20px;
    background-color: #004977;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: -5px;
}
#volver:hover{
    background-color:black;
}
