nav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.2857%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}
h3{
    text-align: center;
    
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.logins{
    position: absolute;
    top: 5px;
    left: 87%;
    
    
}

.login{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
    
}

h1{
    text-align: center;
    font-size: 250%;
    padding: 0.1em 2.9em 1.5em;
    
}

.list-type3{
width:250px;
}
.list-type3 li, .list-type3 a{
float:left;
height:35px;
line-height:35px;
position:relative;
font-size:15px;
margin-bottom: 12px;
font-family: 'Josefin Sans', sans-serif;
transition: background-color 1.5s ease;
}
.list-type3 a{
padding:0 60px 0 12px;
background:#0089e0;
color:#fff;
text-decoration:none;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-right-radius:4px;
border-top-right-radius:4px;
}

.list-type3 a:before{
content:"";
float:left;
position:absolute;
top:0;
left:-7px;
width:0;
height:0;
border-color:transparent #0089e0 transparent transparent;
border-style:solid;
border-width: 18px 12px 18px 0;
}

.list-type3 a:after{
content:"";
position:absolute;
top:15px;
left:0;
float:left;
width:6px;
height:6px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
background:#fff;
-moz-box-shadow:-1px -1px 2px #004977;
-webkit-box-shadow:-1px -1px 2px #004977;
box-shadow:-1px -1px 2px #004977;
}
.list-type3 a:hover{
background:#555;
}

.list-type3 a:hover:before{
border-color:transparent #0089e0 transparent transparent;
}

button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
button:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}


input[type=submit] {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
input[type=submit]:hover{
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

#eliminar{
    background: #ff3333;
    position:relative;
    top:-40px;
    left:120px;
}
#verEmpresa{
    background: #207d57;
    position:relative;
    top:-40px;
    left:100px;
}

#verEmpresa2{
    background: #207d57;
    position:relative;
    top:-10px;
  
}

#tituloEmpresa{
    color:steelblue;
    font-size: 30px;
}

#oferts{
    width: 70%;
    margin: auto;
    padding: 10px;
}

#oferts_titulo{
    color: #ffffff;
    background: #6699ff;
    line-height: 2.5;
    padding: 0 1em;
    margin: 0;
    box-shadow: 0 -1px, 0 0 #ffffff inset;
    cursor:pointer;
  
}
#oferts_titulo_comentarios{
    color: #ffffff;
    background: #60d597;
    line-height: 2.5;
    padding: 0 1em;
    margin: 0;
    box-shadow: 0 -1px, 0 0 #ffffff inset;
    cursor:pointer;
  
}
#oferts_titulo_dos{
    color: #ffffff;
    background: #999999;
    line-height: 2.5;
    padding: 0 1em;
    margin: 0;
    box-shadow: 0 -1px, 0 0 #ffffff inset;
    cursor:pointer;
  
}

#oferts_contenido{
    display: none;
    margin: 0;
    padding: 1em 1em 1.5em;
    text-align: center;
    width: 430px;
}
#oferts_contenidoPerfil{
    display: none;
    margin: 0;
    padding: 1em 1em 1.5em;
    text-align: center;
    width: 480px;
}
#borrarOferta{
    border: none;
    background: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    top:5px;
    width:19%;
}
#borrarOferta:hover {
 background: white;
 color: black;
 box-shadow: inset 0 0 0 3px black;
}

#tablaOferas{
    table-layout: fixed;
}

#horaContenido{
    display:none;
}

#timerDiv{
    width: 300px;
    position:absolute;
    top:92%;
    left:38%;
    display:block;
    padding:0;
    text-align: center;
}

#volver{
    position: relative;
    top: 30px;
    text-decoration: none;
    font-size: 20px;
    background-color: #004977;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
#volver:hover{
    background-color:black;
}


#foto{
    position:absolute;
    left:45%;
    top:30%;
}

#perfil{
    position:relative;
    top: 17px;
    left:50px;
}

#fotoPerf{
    width: 13%;
    
    left: 180px;
    border: 2px solid steelblue;
    border-radius: 3px;
}

.fotitos{
    position: relative;
    width: 100px;
    border: 2px solid steelblue;
    border-radius: 3px;
}
#datosPerfil{
    background-color: steelblue;
    color:white;
    width : 550px;
    padding: 7px 7px 7px;
}

#tuperfil{
    font-size: 40px;
    position:relative;
    left: 265px;
}

#botonEditarPerfilUsuario{
    position: relative;
    top: 13px;
}

#cambiarFotoBoton{
    position: relative;
    top:-27px;
    left:150px;
}

#cambiarFoto{
    display:none;
}


#informacionUsuarioEnBusqueda{
    display: none;
    position: absolute;
    top:40%;
    left:40%;
}

#comentarios{
    display:none;
    text-align: center;
}

.fotosGrandes{
    position: absolute;
    left:49%;
    top:240px;
}

#tituloEmpresas{
    font-size: 40px;
    position: relative;
    left: 110px;
}

#scrollParaEmpresas{
    text-align: center;
    position:relative;
    left:20px;
    overflow-y: scroll;
    width: 700px;
    height: 345px;
    background-color: #d9d9d9;

}